.header {
  text-align: center;
}

.list-group {
  // display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.card-list {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
  display: grid;
  text-align: center;
}

.avatar-circle {
  background: transparent;
  //width: 150px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1.5em;
}

.card-avatar {
  // overflow: hidden;
  width: 150px;
  height: auto;
}

.card-title {
  text-decoration: none;
  color: black;
  padding-bottom: 1.5em;
  font-size: 18px;
}
.card-title:hover {
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.card-buttons {
  padding: 5px;
}

.result-list {
  display: flex;
}
// #02BE9A
// #1A7689
// #312174

.winner-looser-list {
  display: flex;
  justify-content: space-around;
}

.history-list {
  text-justify: auto;
}
