<div class="welcome-background">
  <div class="container welcome">
    <h1>Bienvenue</h1>
    <p>Dans une galaxie fort fort lointaine, les citoyens considèrent que la géopolitique est bien plus puissante, mais aussi bien plus dangeureuse que les guerres de terrain.</p>
    <p>Or les prochaines éléctions sont pour bientôt.</p>

    <%= link_to "Jouer", candidates_path, class: 'btn btn-success btn-welcome' %>
  </div>
</div>
