<div class="container welcome">
  <h1>Welcome <span style="white-space: nowrap">to the game</span></h1>
  <p>Find me in app/views/welcome/index.html.erb</p>

  <%= link_to "Jouer", candidates_path, class: 'btn btn-success btn-welcome' %>
</div>
