<div class="container">
  <div class="header">
    <h1>Candidates#edit</h1>
  </div>
  <%= render 'form', candidate: @candidate %>


  <%= link_to "Liste des candidats", candidates_path, class: 'btn btn-info' %>
</div>