<div class="container">
  <div class="header">
    <h1>Proposer un.e candidat.e</h1>
  </div>
  <%= render 'form', candidate: @candidate %>


  <%= link_to "Liste des candidats", candidates_path, class:"btn btn-info" %>
</div>