/* External libraries */
@import "bootstrap";

/* Graphical variables */
@import "config/fonts.scss";
@import "config/colors";
/* @import "config/bootstrap_variables"; */

// Your CSS partials
@import "landing.scss";
@import "config/card.scss";
@import "config/button.scss";
@import "config/form";

body {
  display: flex;
  height: 100vh;
  background: #05668d;
  color: white;
  text-align: center;
}

.header {
  padding: 2em 0 2em 0;
}

p {
  font-size: 1.2em;
}